<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-icon>menu</mat-icon>
      <button mat-button routerLink="/">Home</button>
      <button mat-button routerLink="/userlocation">User Location</button>
      <button mat-button routerLink="/matslider">Slider</button>
      <button mat-button routerLink="/tables">Tables</button>
      <button mat-button [matMenuTriggerFor]="menuobservable">Tutoriais</button>
      <mat-menu #menuobservable="matMenu">
        <button routerLink="observables" mat-menu-item>Observables</button>
        <button routerLink="observablestutorial" mat-menu-item>
          Observables Tutorial
        </button>
      </mat-menu>
      <button mat-button routerLink="/forms">Forms</button>
      <button mat-button [matMenuTriggerFor]="menuchartjs">Chart Js</button>
      <mat-menu #menuchartjs="matMenu">
        <button routerLink="/chartjs/graficobarras" mat-menu-item>
          Gráfico Barras
        </button>
        <button routerLink="/chartjs/graficotorta" mat-menu-item>
          Gráfico Torta
        </button>
      </mat-menu>
      <span class="example-spacer"></span>
      <button class="spanEspacoPais" mat-icon-button>{{ countryLabel }}</button>
      <button class="spanEspacoPais" mat-icon-button>{{ stateLabel }}</button>
      <button class="spanEspacoCidade" mat-icon-button>{{ cityLabel }}</button>
      <img
        *ngIf="countryFlag"
        class="countryFlagMenuIcon"
        mat-card-sm-image
        src="{{ countryFlag }}"
        alt="image icon"
      />
    </mat-toolbar-row>
  </mat-toolbar>
</div>
