.alinharCidade{
  float: right !important;
  margin-right: 100px;
}

.example-spacer {
  flex: 1 1 auto;
}

.spanEspacoPais{
  margin-right: 100px;
  cursor: unset;
}

.spanEspacoCidade{
  margin-right: 70px;
  cursor: unset;
}
